#nav-mymusic {
    background-color: #ff9800;
}

#nav-mymusic p {
    color: #fffffa;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 1000px;
    width: 100%;
    margin: 0;
    background-color: #fffffa;
}

li {
    list-style: none;
}

iframe {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #484444;
}

#nav-mymusic {
    width: 12%;
}

#nav-mymusic p {
    width: 84px;
}

#nav {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    background-color: #fffffa;
}

#nav > ul {
    height: 80px;
    width: 100%;
    padding: 20px 0 0 0;
    margin: 0;
}

.nav-item {
    height: 80px;
    width: 8%;
    margin-top: 0px;
    float: left;
    cursor: pointer;
}

.nav-item p {
    font-size: 20px;
    color: #343433;
    font-family: 'Microsoft Yahei';
    height: 22.25px;
    width: 42px;
    margin: 28.875px auto;
}

#nav-logo {
    margin-top: 20px;
    margin-left: 0;
    height: 40px;
    float: left;
    width: 14%;
    cursor: pointer;
    margin-right: 3%;
}

#nav-search {
    margin-left: 15%;
    width: 22%;
    margin-top: 30px;
    height: 30px;
    float: left;
}

#nav-search-icon {
    position: absolute;
    top: 54px;
    left: 87.5%;
}

#nav-search input {
    padding: 0 0 0 5px;
    float: left;
    width: 100%;
    height: 28px;
    font-size: 14px;
    border-radius: 4px;
    border: 2px solid #a8a8a8;
}

#nav-login {
    margin-left: 5%;
    width: 5%;
    height: 25px;
    float: left;
    margin-top: 30px;
}

#nav-login p {
    font-size: 18px;
    margin: 0;
}

#middle-div {
    display: block;
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
}
#main{
    width: 1200px;
    height:750px;
    margin:auto;
    background: url("../img/115.jpg") no-repeat;
    background-size: 100% 100%;
}
#bg{
    width: 1200px;
    height: 750px;
    background: rgba(0,0,0,0.4);
}
#bg>p{
    font-size: 48px;
    color:white;
    position: relative;
    line-height:1250%;
    left:24%;
}

#btn_login{
    position: relative;
    left:43%;
    bottom:30%;
}

#btn_login>input{
    width: 175px;
    height: 50px;
    background-color: #ff9800;
    color:white;
    font-size: 24px;
    border:none;
    border-radius: 10px;
}